#white{
    color: black;
}
#purple{
    color: purple;
}
#slate{
    color: slategray;
}
#green{
    color: green;
}
#blue{
    color: blue;
}
#orange{
    color: orange;
}
#black{
    color: black;
}