h2,
h1 {
    color: rebeccapurple;
    text-align: center;
    margin-top: 10px;
    margin-left: 280px;
}


body {
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
    background-image: url("../img/155.jpg"); 
    background-attachment: fixed;
    background-size: cover;
}
#heade {
    height: 100px;
    width: 100%;
    float: left;
    margin-top: -15px;
}
#logo {
    width: 550px;
    height: fit-content;
    margin-top: 25px;
    float: left;
}
#ist1 {
    color: black;
    font-weight: bold;
    font-size: 50px;
text-decoration: none;
    margin-left: 15px;
    font-family: cursive;
}

#ist2 {
    text-decoration: none;
    color: rebeccapurple;
    font-weight: bold;
    font-size: 35;
    font-family: cursive;
}
a{
    text-decoration: none;
}

#menue {
    width: 450px;
    float: right;
    margin-top: 20px;
}
#menue li {
    float: left;
    width: 140px;
    text-align: center;
    list-style: none;
    font-size: 25px;
    border-left: 1px solid, black;
}
#menue li:hover {
    font-size: 35px;
    transition: all .5s ease;
}
#menue li a {
    color: black;
    text-decoration: none;
}
#hid {
    width: 50;
    height: auto;
    float: left;
    font-size: 22;
    color: beige;
    margin-top: 40px;
}
a{
    text-decoration: none;
}
.visa{
    width: 200px;
    background-color: beige;
   margin-left: 50%;
    font-size: large;
color: beige;
text-decoration: none;
}
.products-container{
    max-width :650px;
    justify-content:space-around;
    margin:0 auto ;
    margin-top : 50px;
    justify-content:center;
    flex-wrap:wrap;
    padding-bottom: 100px;
}
.products-container ion-icon{
    font-size: 25px;
    color:purple;
    margin-left: 10px;
    margin-right: 10px;
    cursor:pointer;
}
.product-header{
    width: 100%;
    max-width:650px;
    display:flex;
    justify-content:flex-start;
    border-bottom:4px solid lightgrey;
    margin:0 auto;
}
.product-title{
    width:45%;
}
.price{
    width: 15%;
    display:flex;
    align-items:center;
}
.quantity{
    width:20%;
    display:flex;
    align-items:center;
}
.total{
    width: 10%;
    display:flex;
    align-items:center;
}
.product{
    width: 45%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding: 10px 0;
    border-bottom:1px solid lightgrey;
}
.product ion-icon {
    cursor:pointer;
}
.products{
    width:100%;
    display:flex;
    flex-wrap:wrap;
}
.products img {
    width:75px;
}
.basketTotalContainer{
    display:flex;
    justify-content:flex-end;
    width:100%;
    padding:10px 0;
}
.basketTotalTitle{
    width: 30%;
}
.basketTotal{
    width: 10%;
}
